:root {
  /* Font Families */
  --font-sans: "Raleway", sans-serif;
  --font-heading: "Prata", serif;

  /* Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  /* Colors */
  --color-gray-300: #e0e0e0;
}
