:root {
  /* Font Families */
  --font-sans: "Raleway", sans-serif;
  --font-heading: "Prata", serif;

  /* Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  /* Colors */
  /* Grayscale */
  --color-gray-100: #f5f5f5ff;
  --color-gray-200: #e0e0e0ff;
  --color-gray-300: #c9c9c9ff;
  --color-gray-400: #b3b3b3ff;
  --color-gray-500: #9c9c9cff;
  --color-gray-600: #858585ff;
  --color-gray-700: #6f6f6fff;
  --color-gray-800: #585858ff;
  --color-gray-900: #424242ff;

  --rust-brown: #a33100;
  --red-orchre: #cc3d00;
  --choral-glow: #ff8552;
  --almond-silk: #ffd4c2;

  --rust-brown-hsla: hsla(13, 77%, 55%, 1);
  --red-orchre-hsla: hsla(6, 65%, 57%, 1);
  --choral-glow-hsla: hsla(23, 51%, 60%, 1);
  --almond-silk-hsla: hsla(57, 42%, 60%, 1);

  --gradient-top: linear-gradient(
    0deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-right: linear-gradient(
    90deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-bottom: linear-gradient(
    180deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-left: linear-gradient(
    270deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-top-right: linear-gradient(
    45deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-top-left: linear-gradient(
    225deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
  --gradient-radial: radial-gradient(
    var(--rust-brown),
    var(--red-orchre),
    var(--choral-glow),
    var(--almond-silk)
  );
}
