.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;

  padding: 1em;

  background-image: var(--gradient-bottom-right);
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 400% 400%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
}
